---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
---
Language: Cpp
BreakBeforeBraces: Allman
AccessModifierOffset: 2
AlignArrayOfStructures: Left
DerivePointerAlignment: false
AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: All
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Right
BreakAfterAttributes: Always
