---
Checks: "-*,
        clang-analyzer-*,
        clang-diagnostic-*,
        cppcoreguidelines-*,
        google-*,
        modernize-*,
        misc-*,
        performance-*,
        -modernize-use-trailing-return-type,
        -modernize-avoid-c-arrays,
        -modernize-type-traits,
        -modernize-use-constraints,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -performance-avoid-endl,
        -readability-identifier-length,
"
WarningsAsErrors: 'true'
HeaderFileExtensions:
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxxl
HeaderFilterRegex: '.*'
...

